{%extends 'misjuegos/padre.html'%}
    {%load static%}
{%block contenidoQueCambia%}
    <!--Aqui se colocan las creaciones de usuarios que pueden comentar o hacer reseñas-->
    <h1>LOGIN</h1>
    <h2>
        {{ mensaje2 }}
    </h2>
    <h1 class="s-content__header-title">
        Iniciar Sesion
    </h1>
    <h2>
        {{ mensaje }}
    </h2>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
         {{form.as_p}}

        <input type='submit' value='Ingresar'>
    </form>
    {%endblock%}